perturber/Treecode_perturber.txt
perturber/Treecode_perturber_out.txt
treecode_out_10000bodies_perturber.txt
treecode_out_mpert100.txt
treecode_out_mpert100_2.txt
treecode_in_mpert1000.0 solMass.txt
treecode_out_mpert1000.txt
treecode_out_mpert100_non_va.txt
.ipynb_checkpoints/treecode_out_mpert100_non_va-checkpoint.txt
